@import url(./header/style.scss);
@import url(./product/style.scss);
@import url(./ProductWrapper/style.scss);
@import url(./CheckBox/style.scss);
@import url(./CartFilling/style.scss);
@import url(./Favourite/style.scss);

body {
    margin: 0 auto;
    width: 1000px;
    background-image: url(../../public/backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-app {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
}
