.btn-close {
    margin-left: 225px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    color: blue;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    &:hover {
        color: yellowgreen;
    }
}
.conteiner-card {
    text-decoration: none;
    min-height: 300px;
    margin: 15px 5px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    flex-basis: 280px;
    align-items: center;
}

.conteiner-image {
    width: 100%;
    min-height: 200px;

    img {
        width: inherit;
        border-radius: 10px 10px 0 0;
        display: block;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.card__title {
    font-family: 'Coustard', serif;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}

.conteiner__card-desc {
    margin: 0 15px 10px;
}

.card__desk-product {
    font-family: 'Coustard', serif;
    color: blue;
    margin: 5px 0 5px;
    font-size: 10px;
    justify-content: start;
}

.card-footer {
    padding: 10px 10px;
}

.card-price {
    font-family: 'Press Start 2P', cursive;
    color: blue;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

