.form__conteiner {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(252, 244, 244, 0.2);
    text-align: center;
    height: 1000px;
}

.title__form {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: 300;
    color: blue;
    text-align: center; 
}

.form {
    height: 400px;
}

.form-item {
    font-family: 'Coustard', serif;
    color: blue;
    min-height: 161px;
    flex-basis: 50%;
    text-align: center;
    font-size: 18px;
    .error-message {
      color: red;
    }
  }

  .form-item  input{
    padding: 5px 10px;
    width: 400px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
   }

   .form-btn {
    padding-top: 50px;
    width: 100%;
    text-align: center;
   }

.form-btn input{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    font-weight: 500;
    background-color: blue;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    &:hover {
        background-color: yellowgreen;
        color: black;
    }
}
